.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}

.previewContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.editorContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.htmlEditor {
  flex-shrink: 1;
}
.cssEditor {
  flex-grow: 1;
}
.preview {
  height: 300px;
  width: 300px;
}
