.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.previewContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.preview,
.targetImage {
  width: 300px;
  height: 300px;
}

.editorContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.htmlEditor {
  flex-shrink: 1;
}
.cssEditor {
  flex-grow: 1;
}
.preview {
  height: 300px;
  width: 300px;
}

.eyedropperButton {
  background: blue;
}

/* an attempt at making the eyedropper button look nicer
  .custom-eyedropper {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
.gameButton {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px black;
}
.gameButton:active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}

.colorContainer {
  background: #c1b9a7;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.colorDrop {
  /* border-radius: 100%; */
  width: 2.5rem;
  height: 2.5rem;
}
